html{
	background-color: white;
}
body {
	text-align: center;	
	height: 750px;
	width: auto;
	background: radial-gradient(#1ba6cd,#1ba6cd, white);
	padding-top: 80px;
}
h1{
	margin:0;
	font-size: 24px;
}
.wrapper{
	height: 400px;
	width: 550px;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	background-color: white;
}
