body {
background-color: #cbcbcb;
text-align: center;
}
.wrapper{
height: auto;
width: auto;
}
h1{
margin-bottom: 40px;
}
h3, p{
color: white;
}
.loginform{
width: 100%;
height: auto;
max-height: 400px;
max-width: 250px;
display: inline-block;
border: 10px solid rgba(74, 154, 223, 0.6);
background-color: #476ab0e6;
}
.regform{
width: 100%;
height: auto;
max-width: 250px;
display: inline-block;
vertical-align: top;
border: 10px solid rgba(74, 154, 223, 0.6);
background-color: #476ab0e6;
}